@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
.container-faqs{
  h1{
    font-weight: 700;
    font-size: 3.1rem;
    color: black;
  }
  .question-box{
    background-color: #fefefe;

    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
    .toggle-btn h4{
      cursor: pointer;
      font-size: 19px;
      color: rgb(57, 55, 55);
        }
    .collapse {
      background: transparent;
    }
    h5{
      font-weight: 700;
      cursor: pointer;
    font-size: 1.3rem;
      color: black;
    }
    .down {
      float: right;
      color: rgb(89, 85, 85); ;
    }
    .point{
      color: rgb(168, 162, 162); ;
    }
  }
}


@media screen and (max-width: 1366px) {
  .toggle-btn h4{
    font-size: 16px;
      }
  .card-body h5{
   font-size: 14px;
  }
} 