@import "../../assets/scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFDF;
}
.icon-clr {
  color: $icon !important;
  cursor: pointer !important;
}
.tawk-min-container .tawk-button-circle.tawk-button-large {
  background-color: #d5d509 !important;
}
.navbar-main-floating {
  background-color: #000000;
  opacity: 93%;
  .sss {
    height: 54px;
    width: 48px;
  }

  .search-logo {
    font-size: 25px;
  }

  #xyz {
    width: 303px;

    margin-top: 4px;
    margin-left: 44px;
    border-radius: 6px;
    z-index: 4 !important;
    padding: 0px !important;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
  }
  #xyz > .border-1 {
    margin-top: 0px;
    font-size: 1.03rem;
    display: block;
    padding: 6px;
    padding-bottom: 8px;
    clear: both;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
  }
  #xyz > .border-1:hover {
    background-color: #e9eaeb;
  }
  .float-brand {
    box-shadow: rgba(28, 28, 28, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 200px;
  }
  .riArrowDropDownLine {
    height: 34px;
    width: 34px;
  }
  @media screen and (max-width: 1366px) {
    .float-brand {
      // box-shadow: rgba(28, 28, 28, 0.02) 0px 1px 3px 0px,
      //   rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      width: 180px;
    }
    .sss {
      height: 54px;
      width: 19px;
    }
    .cart {
      margin-left: 0px !important;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  *:focus {
    outline: none;
  }

  #search-button-flotnav {
    background-color: #FFF323!important;
    width: 4vw;
    height: 38px;
    border-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
 
  }
  #float-map-btn-id{
 
    cursor: none;
  }
  .basic-addon {
    background-color: #ededed !important;
    border-top-left-radius: 16px;

    border-bottom-left-radius: 16px;
    border: none;
    .basic-addon-icon {
      font-size: 21px;
    }
  }

  #search-location-box {
    border-radius: 0px;
    border: transparent !important;
    width: 19vw !important;
    color: $grey;
    background: $white !important;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 3px;
    height: 38px !important;
    border-right: 1px dotted rgb(205, 205, 205) !important ;
  }
  #search-location-box:focus {
    box-shadow: none !important;
  }

  .search-inner-drop {
    .dropdown-menu {
      width: 19vw;
      padding: 0px !important ;
     
      cursor: pointer;
    }
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #f1e615 !important;
  }
  #select-media-box {
    border: transparent !important;
    width: 19vw !important;
    color: $grey;
    background: $white !important;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
  
    padding-bottom: 2px;
    height: 38px !important;
    border-radius: 0px;
  }
  .select-media-icon {
    font-size: 24px;
    margin-right: 4%;
    margin-left: 2%;
  }

  .float-map-btn {
    border: transparent;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    font-weight: 500;
    padding-top: 6px !important;
    height: 38px !important;
    width: 120px;
    .float-map-logo {
      font-size: 23px;
    }
  }
  .nav-link:hover {
    color: #d8d8d8;
  }
}
.new-search {
  position: fixed;

  z-index: 5;
  top: 0%;
  width: 100vw;
}

.cart {
  margin-left: 16px;
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 1.6rem;
  margin-top: 0%;
}
.cart span:nth-child(2) {
  color: #7a8894;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top: -5px;
  left: -22px;
}

  @media screen and (max-width: 425px) {
.navbar-main-floating{
display: none !important;
}
  }